.Profile-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Profile-name {
    margin-top: 40px;
    font-size: 40px;
}
.Profile-saved {
    margin-top: 30px;
    font-size: 32px;
}
.Profile-explanation {
    font-size: 20px;
}
.Profile-savedCard {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(156, 51, 255);
    border-radius: 4px;
}
.Profile-savedCard:hover {
    cursor: pointer;
}
.Profile-title {
    font-size: 22px;
    color: rgb(156, 51, 255);
    margin-left: 5px;
}
.Profile-type {
    font-size: 14px;
    opacity: 0.7;
    margin-left: 5px;
}
.Profile-description {
    margin-left: 7px; 
    resize: none;
    height: 100px;
    width: 294px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
}
.Profile-description:hover {
    cursor: pointer;
}
.Profile-description:focus {
    outline: none;
}
.Profile-descriptionEmpty {
    opacity: 0.6;
    font-style: italic;
}
.Profile-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 20px;
}
.Profile-deleteCard {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 3px 10px;
    font-size: 14px;
    border: 2px solid rgb(241, 67, 67);
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.Profile-deleteCard:hover {
    background-color: rgb(255, 183, 183);
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.Profile-deleteCard:focus {
    outline: none;
}
.Profile-link,
.Profile-link:visited {
    text-decoration: none;
    color: black;
}
