.DataCollectCard-container {
    display: flex;
    margin: 10px 10px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.DataCollectCard-components {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: row;
    border: 2px rgb(0, 0, 0);
    border-radius: 10%;
    
}

.DataCollectCard-step {
    font-size: 32px;
    margin: 10px 10px 0px 10px;
}