.DataTrainCard-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    background-color: violet;
    flex-direction: row;
    border: 2px rgb(0, 0, 0);
    border-radius: 10%;
    padding-top: 50px;
}