.DataTrainCard-container {
    display: flex;
    margin: 10px 10px;
    height: 400px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.DataTrainCard-components {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: row;
    border: 2px rgb(0, 0, 0);
    border-radius: 10%;
}
.DataTrainCard-step {
    font-size: 32px;
    margin: 10px 0px 10px 10px;
    position: relative;
    padding-right: 10px;
    width: 350px;
}