.DataDeployCard-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: 2px rgb(0, 0, 0);
    border-radius: 10%;
    padding-top: 50px;
    background-color: yellow;
}