.DataDeployCard-container {
    display: flex;
    margin: 10px 10px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    overflow-y: scroll;
}
.DataDeployCard-classification {
    height: 555px;
}
.DataDeployCard-regression {
    height: 315px;
}
.DataDeployCard-components {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 2px rgb(0, 0, 0);
    border-radius: 10%;
    /* background-color: yellow; */
    position: relative;
    width: 500px;
}
.DataDeployCard-step {
    font-size: 32px;
    margin: 10px 10px 0px 10px;
    /* background-color: red; */
    position: relative;
    width: 400px;
    height: 300px;
    
}
