.DataCollectCard-container {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    height: 300px;
    width: 1400px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 2px solid var(--border);
    border-radius: 8px;
    max-width: 100vw;
}
.DataCollectCard-column {
    display: flex;
    flex-direction: column;
}
.DataCollectCard-components {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 900px;
    max-width: calc(100vw - 301px - 10px - 10px);
}

.DataCollectCard-step {
    font-size: 32px;
    margin: 10px 10px 0px 10px;
    color: var(--secondary);
    font-weight: 900;
    background-color: white;
    min-width: 301px;
}