.FileUpload-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
    width: 250px;
    height: 200px;
    background-color: white;
    margin: 5px;
    margin-top: 30px;
    margin-left: 45px;
}
.FileUpload-fileDescription{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: large;
}
.FileUpload-fileName {
    margin-left: 10px;
    font-style: italic;
    border-radius: 8%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    max-height: 25px;
   
}
/* Hide scrollbar for different browsers */
.FileUpload-fileName::-webkit-scrollbar {
    display: none;
}
.FileUpload-fileName {
-ms-overflow-style: none;
}
