.ImageCollectCard-container {
    display: flex;
    margin: 10px 10px;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.ImageCollectCard-components {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: row;
    border: 2px rgb(0, 0, 0);
    border-radius: 10%;
    background-color: violet;
    width: 920px;
    position: relative;
    left: 50px;
    
}

.ImageCollectCard-step {
    font-size: 32px;
    margin: 10px 10px 0px 10px;
    background-color: tomato;
    height: 60px;
}