.ImageDeployCard-container {
    display: flex;
    margin: 10px 10px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    overflow-y: scroll;
    height: 430px;
    width: 1400px;
    border: 2px solid var(--border);
    border-radius: 8px;
    max-width: 100vw;
}
.ImageDeployCard-components {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: calc(100vw - 400px - 10px - 10px);
    background-color: white;
}
.ImageDeployCard-step {
    font-size: 32px;
    margin: 10px 10px 0px 10px;
    width: 400px;
    min-width: 400px;
    height: 300px;
    font-weight: 900;
    color: var(--secondary);
    background-color: white;
}
