.ImageTrainCard-container {
    display: flex;
    margin: 10px 10px;
    height: 400px;
    width: 1400px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 2px solid var(--border);
    border-radius: 8px;
    max-width: 100vw;
}
.ImageTrainCard-components {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    max-width: calc(100vw - 321px - 30px);
}
.ImageTrainCard-step {
    font-size: 32px;
    margin: 10px 0px 10px 10px;
    position: relative;
    padding-right: 10px;
    width: 350px;
    background-color: white;
    color: var(--secondary);
    font-weight: 900;
    min-width: 321px;
}