.ImageTrain-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    right: 320px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}
.ImageTrain-noButton {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-right: -300px;
  left: 380px;
  width: 370px;
  background-color: white;
}
.ImageTrain-button {
  background-color: white;
  color: black;
  border: 3px solid var(--border);
  border-radius: 4px;
  padding: 7px 35px;
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin: 10px;
  margin-top: 45px;
  width: 250px;
  height: 55px;
}
.ImageTrain-button:hover {
  background-color: var(--hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ImageTrain-button:focus {
  outline: none;
}
.ImageTrain-buttonDisabled {
  background-color: white;
  color: rgb(87, 83, 83);
  border: 3px solid #444;
  border-radius: 4px;
  padding: 7px 35px;
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  margin-top: 45px;
  width: 250px;
  height: 55px;
}
.ImageTrain-buttonDisabled:focus {
  outline: none;
}
.ImageTrain-notReady {
    font-size: 13px;
}
.ImageTrain-training {
    font-size: 13px;
}
.ImageTrain-trainingHidden {
  font-size: 13px;
  opacity: 0;
}
.ImageTrain-advanced {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 5px;
  right: 15px;
  font-size: 18px;
}
.ImageTrain-epochs {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 15px;
}
.ImageTrain-batchSize {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.ImageTrain-epochsInput {
  margin-left: 10px;
  width: 35px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid var(--border);
  font-family: 'Poppins', sans-serif;
  resize: none;
}
.ImageTrain-epochsInput::-webkit-inner-spin-button, 
.ImageTrain-epochsInput::-webkit-outer-spin-button {  
   opacity: 1;
}
.ImageTrain-batchSizeInput {
  margin-left: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid var(--border);
  font-family: 'Poppins', sans-serif;
  resize: none;
}

.ImageTrain-epochsInput:focus {
  background-color: var(--hover);
  outline: none;
}
.ImageTrain-batchSizeInput:focus {
  background-color: var(--hover);
  outline: none;
}