.ImageSettings-container {
    overflow-y: scroll;
    background-color: yellowgreen;
    position: relative;
    bottom: 0px;
    right: 50px;
    width: 1200px;
    height: 430px;
    margin-left: -200px;
}
.ImageSettings-class {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid var(--border);
    border-radius: 1%;
    height: 145px;
    width: 930px;
    background-color: white;
}
.ImageSettings-classRow {
    padding-left: 10px;
    font-size: large;
    background-color: honeydew;
    height: 45px;
    display: flex;
    flex-direction: row;
}
.ImageSettings-imageAmount {
    margin-left: 10px;
    font-size: small;
}
.ImageSettings-classNameEditing {
    height: 20px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    margin-top: 10px;
}
.ImageSettings-classNameEditing:focus {
    outline: none;
}
.ImageSettings-images {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    transition: 1s;
    background-color: white;
}
/* Hide scrollbar in different browsers */
.ImageSettings-images::-webkit-scrollbar {
    display: none;
}
.ImageSettings-images {
-ms-overflow-style: none;
}
.ImageSettings-noImages {
    margin-top: 20px;
    margin-left: 10px;
    font-style: italic;
    opacity: 60%;
    font-size: 17px;
}
.ImageSettings-image {
    height: 60px;
    width: 60px;
    margin: 10px 5px 2px 5px;
    border-radius: 8%;
}
.ImageSettings-newClass {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 5%;
    padding-left: 10px;
    height: 50px;
    font-size: 20px;
}
.ImageSettings-newClass:hover {
    cursor: pointer;
    border: 2px dashed var(--border);
}
.ImageSettings-buttons {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: relative;
    left: 600px;
    width: 170px;
    justify-content: flex-end;
    align-items: flex-end;
}
.ImageSettings-delete {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid rgb(241, 67, 67);
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.ImageSettings-delete:hover {
    background-color: rgb(238, 155, 155);
    cursor: pointer;
}
.ImageSettings-clear {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid var(--border);
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px; 
}
.ImageSettings-clear:hover {
    background-color: var(--hover);
    cursor: pointer;
}
.ImageSettings-deleteImage {
    width: 22px;
    height: 22px;
    position: relative;
    bottom: 45px;
    right: 25px;
    margin-right: -23px;
}
.ImageSettings-deleteImage:hover {
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.ImageSettings-deleteHidden {
    opacity: 0%;
}
/* Prevent user selection */
.ImageSettings-deleteHidden:hover {
    cursor: auto;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    background-color: transparent;
}