.ImageDropzone-container {
    height: 246px;
    width: 246px;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    margin: 5px 5px 0px 5px;
}
.ImageDropzone-container:hover {
    background-color: rgb(177, 172, 255);
    border: 2px solid rgb(187, 186, 186);;
}
.ImageDropzone-icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
}
.ImageDropzone-fileInput {
    display: none;
}
.ImageDropzone-highlight {
    background-color: rgb(177, 172, 255);
}
.ImageDropzone-instructions {
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.ImageDropzone-captureAndSend {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.ImageDropzone-uploadButton {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 3px 10px;
    font-size: 14px;
    border: 2px solid #444;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.ImageDropzone-uploadButton:hover {
    background-color: rgb(177, 172, 255);
    cursor: pointer;
}
.ImageDropzone-uploadButton:focus {
    outline: none;
}
.ImageDropzone-uploadButtonDisabled {
    opacity: 60%;
}
.ImageDropzone-uploadButtonDisabled:hover {
    background-color: white;
    cursor: auto;
}
.ImageDropzone-uploadSelect {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding: 5px 10px; */
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid rgb(156, 51, 255);
    font-family: 'Poppins', sans-serif;
    resize: none;
    position: relative;
    bottom: 0px;
    width: 90px;
}
.ImageDropzone-uploadSelect:hover {
    background-color: rgb(177, 172, 255);
    cursor: pointer;
}
.ImageDropzone-uploadSelect:focus {
    outline: none;
}