.LineGraph-container {
    /* display: flex; */
    width: 1000px;
    max-width: calc(100vw - 321px - 50px);
    height: 400px;
    background-color: white;
    position: relative;
    right: 25px;
}
.LineGraph-learnContainer {
    width: 800px;
}