.NavBar-container {
    font-family: "Poppins", sans-serif;
    padding: 8px 16px;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.NavBar-title {
    margin-top: 5px;
    color: black;
    font-size: 25px;
}
.NavBar-links {
    margin-left: 24px;
}

.NavBar-link,
.NavBar-link:visited {
    color: black;
    text-decoration: none;
}

.NavBar-link:hover {
    opacity: 0.8;
}

.NavBar-link.NavBar-login {
    opacity: 1;
}

.NavBar-link + .NavBar-link {
    margin-left: 16px;
}
.NavBar-login:focus {
    outline: none;
}