.NavBar-container {
    font-family: "Poppins", sans-serif;
    padding: 8px 16px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 12;
    background: var(--gradient);
}
.NavBar-title {
    margin-top: 3px;
    color: white;
    font-size: 25px;
}
.NavBar-links {
    margin-left: 24px;
}

.NavBar-link,
.NavBar-link:visited {
    color: white;
    text-decoration: none;
}
.NavBar-titleLink {
    font-size: 26px;
}

.NavBar-link:hover {
    opacity: 0.8;
}

.NavBar-link.NavBar-login {
    opacity: 1;
}

.NavBar-link + .NavBar-link {
    margin-left: 25px;
}
.NavBar-login:focus {
    outline: none;
}