.Options-container {
    display: flex;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    transition: 0.5s;
}
.Options-question {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 350px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 7px;
    margin-bottom: 5px;
}
.Options-button {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 4px 11px;
    font-size: 22px;
    border: 2px solid #444;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 35px;
}
.Options-buttonDisabled {
    opacity: 0.6;
}
.Options-save {
    margin-top: 15px;
}
.Options-under {
    font-size: 12px;
    text-align: center;
    margin-top: -15px;
}
.Options-button:hover {
    background-color: rgb(177, 172, 255);
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.Options-buttonDisabled:hover {
    cursor: auto;
    background-color: white;
}
.Options-button:focus {
    outline: none;
}
.Options-saveOptions {
    display: flex;
    flex-direction: column;
}
.Options-saveDescription {
    margin: 10px;
    align-items: center;
    text-align: center;
}
.Options-modelTitle {
    height: 25px;
    width: 294px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(156, 51, 255);
    border-radius: 4px;
}
.Options-modelTitleError {
    border: 2px solid rgb(241, 67, 67);
}
.Options-modelDescription {
    resize: none;
    height: 100px;
    width: 294px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    border: 2px solid rgb(156, 51, 255);
    border-radius: 4px;
}
.Options-modelDescriptionError {
    border: 2px solid rgb(241, 67, 67);
}
.Options-modelTitle:focus {
    outline: none;
}
.Options-modelDescription:focus {
    outline: none;
}
.Options-secondSave {
    margin-left: 15px;
}
.Options-titleError {
    font-size: 12px;
    color: rgb(241, 67, 67);
    margin-top: -9px;
}
.Options-descriptionError {
    font-size: 12px;
    color: rgb(241, 67, 67);
    margin-top: 0px;
}
.Options-backImage {
    margin-top: 13px;
    width: 50px;
    height: 50px;
}
.Options-backImage:hover {
    cursor: pointer;
}
.Options-backRow {
    display: flex;
    flex-direction: row;
}
.Options-exportOptions {
    display: grid;
    flex-direction: column;
}
.Options-exportDescription {
    margin: 10px;
    align-items: center;
    text-align: center;
}
.Options-exportExplanation {
    align-items: center;
    text-align: center;
    font-size: 13px;
    resize: none;
    height: 100px;
    width: 294px;
    font-family: 'Poppins', sans-serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
}
.Options-exportExplanation:focus {
    outline: none;
}
.Options-secondExport {
    margin-left: 15px;
}
