.Predict-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    margin-left: -200px;;
    /* background-color: green; */
}
.Predict-instructions {
    margin-left: 230px;
}
.Predict-inputsOutputsClassification {
    display: flex;
    flex-direction: column;
    background-color: white;
    right: 500px;
    position: relative;
    right: 215px;
    top: 30px;
}
.Predict-inputsOutputsRegression {
    display: flex;
    flex-direction: column;
    background-color: white;
    right: 500px;
    position: relative;
    right: 210px;
    bottom: 0px;
    top: 10px;
}
.Predict-inputs {
    display: flex;
    flex-direction: row;
    /* background-color: purple; */
    overflow-x: scroll;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 700px;
}
.Predict-outputs {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 7px;
}
/* Hide scrollbar for different browsers */
.Predict-inputs::-webkit-scrollbar {
    display: none;
}
.Predict-inputs {
-ms-overflow-style: none;
}
.Predict-outputs::-webkit-scrollbar {
    display: none;
}
.Predict-outputs {
-ms-overflow-style: none;
}
.Predict-output {
    display: flex;
    flex-direction: row;
    background-color: white;
}
.Predict-inputLabel {
    display: flex;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid var(--border);
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.Predict-inputValue {
    width: 40px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--border);
    font-family: 'Poppins', sans-serif;
    resize: none;
    position: relative;
    margin-left: 2px;
    text-align: center;
}
.Predict-inputSelect {
    width: 60px;
}
.Predict-inputValue:focus {
    background-color: var(--hover);
    outline: none;
}
.Predict-outputValue:focus {
    outline: none;
}
.Predict-outputLabel {
    display: flex;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid var(--border);
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.Predict-outputValue {
    width: 60px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--border);
    font-family: 'Poppins', sans-serif;
    resize: none;
    position: relative;
    margin-left: 2px;
    text-align: center;
}
.Predict-inputsInfo {
    margin-top: 2px;
    margin-left: 10px;
    font-size: x-large;
}
.Predict-outputsInfo {
    margin-top: 2px;
    margin-left: 10px;
    font-size: x-large;
}
