.Train-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    right: 320px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}
.Train-noButton {
  margin: 5px;
}
.Train-button {
  background-color: white;
  border: none;
  color: black;
  border: 3px solid #444;
  border-radius: 4px;
  padding: 7px 35px;
  text-align: center;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin: 10px;
  margin-top: 45px;
  width: 250px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Train-button:hover {
  background-color: rgb(214, 190, 241);
}
.Train-buttonDisabled {
  background-color: white;
  border: none;
  color: rgb(87, 83, 83);
  border: 3px solid #444;
  border-radius: 4px;
  padding: 7px 35px;
  text-align: center;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  margin-top: 45px;
  width: 250px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.Train-notReady {
    font-size: 13px;
}
.Train-training {
    font-size: 13px;
}
.Train-trainingHidden {
  font-size: 13px;
  opacity: 0;
}
.Train-advanced {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 5px;
  right: 15px;
  font-size: 18px;
}
.Train-epochs {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 15px;
}
.Train-batchSize {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.Train-epochsInput {
  margin-left: 10px;
  width: 35px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid rgb(156, 51, 255);
  font-family: 'Poppins', sans-serif;
  resize: none;
}
.Train-epochsInput::-webkit-inner-spin-button, 
.Train-epochsInput::-webkit-outer-spin-button {  
   opacity: 1;
}
.Train-batchSizeInput {
  /* margin-top: 5px; */
  margin-left: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid rgb(156, 51, 255);
  font-family: 'Poppins', sans-serif;
  resize: none;
}

.Train-epochsInput:focus {
  background-color: rgb(214, 190, 241);
  outline: none;
}
.Train-batchSizeInput:focus {
  background-color: rgb(214, 190, 241);
  outline: none;
}